@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;1,6..12,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: 'Nunito Sans', cursive;
}

ul .nav-item .nav-link {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: #234CAD;
}

ul .nav-item .nav-link:hover {
    font-size: 19px;
    font-weight: bolder;
    text-decoration: underline;
}

.btn0,
.btn1 {
    width: 135px;
    height: 50px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
}

.btn0 {
    outline: none;
    border: none;
    background-color: #F2F6FF;
    color: #234CAD;
    margin-left: 15px;
}

.btn1 {
    border: 2px solid #234CAD;
    color: #234CAD;
    background-color: white;
}

.btn0:hover,
.btn1:hover,
.btn2:hover {
    color: white;
    background-color: #234CAD;
}

.banner {
    margin-top: 60px;
    background-color: #F2F6FF;
    border-radius: 60px;
    height: 600px;
    width: 100%;
}

.banner-left p,
.banner-left h2 {
    color: #234CAD;
}

.banner-left h2 {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.banner-left p {
    font-size: 16px;
    margin-bottom: 40px;
}

.banner-left h2:hover {
    font-weight: bold;
    transition: color 0.3s ease;
}

.banner-right {
    position: relative;
    padding-top: 43px;
    margin-left: 30px;

}

.banner-right .banner-row {
    color: #234CAD;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.banner-right .row-1 {
    position: absolute;
    margin-top: -260px;
    left: -110px;
}

.banner-right .row-2 {
    position: absolute;
    margin-top: -160px;
    left: -110px;
}

.banner-right .row-3 {
    position: absolute;
    margin-top: -60px;
    left: -110px;
}

.banner-right .row-4 {
    position: absolute;
    top: 150px;
    left: -110px;
}

.banner-sebrang {
    position: relative;
    padding-top: 43px;
    margin-left: 30px;
    color: #234CAD;
}

.banner-sebrang .row-1 {
    position: absolute;
    margin-top: -280px;
    left: 210px;
}

.banner-sebrang .row-2 {
    position: absolute;
    margin-top: -100px;
    left: 155px;
}

.banner-sebrang .row-3 {
    position: absolute;
    top: 55px;
    left: 250px;
}

.banner-sebrang .row-4 {
    position: absolute;
    top: 220px;
    left: 220px;
}

/* product features 1 */
.container {
    display: flex;
}

.right-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    margin-top: 60px;
    border-radius: 60px;
    height: 500px;
    width: 100%;
    /* margin-left: 80px; */
    color: #234CAD;
}

.left-section {
    flex: 1;
    display: flex;
    position: relative;
    padding-top: 43px;
    color: #234CAD;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F2F6FF;
    margin-top: 60px;
    border-radius: 60px;
    height: 500px;
    width: 100%;
    margin-left: 80px;

}

.left-section .row-1 {
    position: absolute;
    width: 380px;
    height: 60px;
    margin-top: 70px;
    margin-right: 20px;
}

.left-section .row-2 {
    position: absolute;
    width: 380px;
    height: 60px;
    margin-top: 190px;
    margin-right: 20px;
}

.left-section .row-3 {
    position: absolute;
    width: 380px;
    height: 60px;
    margin-top: 310px;
    margin-right: 20px;
}

.right-section h2,
.right-section p {
    color: #234CAD;
}

.right-section h2 {
    letter-spacing: 1px;
    font-weight: 500px;
    font-size: 48px;
    line-height: 56px;
}

.right-section p {
    font-size: 16px;
    margin-bottom: 40px;
}

.right-section h2:hover {
    font-weight: bolder;
    transition: color 0.3s ease;
}

.btn2 {
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    border: 2px solid #234CAD;
    color: #234CAD;
    font-weight: 500;
    border-radius: 50px;
    background-color: transparent;
    font-size: 22px;
    line-height: 36px;
}

/* End product features 1*/

/* Text Center */
.content {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    border-radius: 60px;
    /* height: 500px;  */
    width: 100%;
    color: #234CAD;
}

.content h2 {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.content p {
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 40px;
}

/* End */

/* Features 2 */
.features2 {
    /* margin-top: 60px; */
    background-color: #F2F6FF;
    border-radius: 60px;
    height: 575px;
    width: 100%;
    color:#234CAD; 
    /* margin-top: 50px; */
}
/* .features2-left {
    width: 300px;
} */
.features2-left .row-1 {
    margin-top: 30px;
}
.features2-left .row-2 {
    margin-top: 20px;
}
.features2-center {
    position: relative;
    margin-left: 30px;
}

.features2-center .row-1 {
    margin-top: 60px;
}
.features2-center .row-2 {
    margin-top: 30px;
}
.features2-center .row-3 {
    margin-top: 30px;
}

.features2-center .row-4 {
    margin-top: 30px;
}

/* .features2 .small-box {
    margin-top: 50px;
    margin-left: -180px;
}

.features2 .schedule-box {
    margin-top: 20px;
} */

/* .features2 .row-3 .chat-box {
    margin-top: 20px;
    margin-left: 60px; 
} */

/* .features2 .chat-box {
    margin-top: 10px;
    margin-left: 100px;
} */

/* .features2 .row1 {
    margin-top: 20px;
    margin-left: -180px;
} */

/* End */

.schedule-container{
    width: 100%;
    height: 100%;
    background: #F2F6FF;
    border-radius: 60px;
    overflow: hidden;
}
.about-section .component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F6FF;
    border-radius: 60px;
    padding-bottom: 1em;
}
.grid {
    color: #234CAD;
}
@media only screen and (min-width: 992px) {
    .about-section .component .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px 0px 20px;
    }

    .about-section .component .grid-container .grid {
        padding: 10px;
    }

    .about-section {
        width: 545px;
        height: 495px;
    }

    .about-section .component {
        width: 627px;
        height: 555px;
        top: 60px;
        left: 50px;
        position: absolute;
    }

    .about-section .schedule-container {
        width: 100%;
        height: 100%;
        background: #F2F6FF;
        position: relative;
        border-radius: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .about-section {
        width: 100%;
    }

    .about-section .component {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F2F6FF;
        border-radius: 60px;
        padding-bottom: 1em;
    }

}
#duaItems .row .col-md-6 h3 {
    color: #234CAD;
    font-size: 30px;
    font-weight: 500;
    line-height: 49px;
}

#duaItems .row .col-md-6 p {
    color: #234CAD;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.animate-h3 {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.scroll-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #234CAD;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 60px;
    padding: 50px;
    transition: all 0.5s;
    animation: slideUp 2.0s;
}

.card-body p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #234CAD;
}

.card-title {
    font-size: 50px;
    font-weight: bold;
    color: #234CAD;
}

.card:hover {
    border-radius: 60px;
    border: 5px solid #234CAD;
    outline: 3px solid #234CAD;
    background-color: #F2F6FF;
    color: #234CAD;
    padding: 50px;
}

#learnMore {
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border-radius: 35px;
    margin-top: 20px;
    padding: 15px 50px;
    background-color: #FFFFFF;
    color: #234CAD;
    cursor: pointer;
}

#learnMore:hover {
    border-radius: 40px;
    border: 4px solid #234CAD;
    outline: 2px solid #234CAD;
    background-color: #F2F6FF;
}

.contentnNewsletter {
    text-align: center;
    width: 100%;
    color: #234CAD;
}

.contentnNewsletter h2 {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.contentnNewsletter p {
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 40px;
}

.newsletter p {
    justify-content: center;
    padding-bottom: 20px;
}

.newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content label {
    display: none;
}

.newsletter-content input {
    outline: none;
    border: none;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    padding: 15px;
}

.newsletter-content input::placeholder {
    color: rgb(190, 188, 188);
    font-size: 18px;
}

.newsletter-content button {
    background-color: #234CAD;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    margin-left: -55px;
    cursor: pointer;
}

.newsletter-content button img {
    width: 20px;
    height: 20px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    color: #234CAD;
}

.footer .row .col-3{
    padding-left: 50px;
    padding-right: 50px;
}

.startup{
    padding: 2px;
}

.Product{
    padding: 2px;
}

.About{
    padding: 2px;
}

.Support{
    padding: 2px;
}


.col-3 h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 27px;
    display: flex;
}

.nav p {
    text-decoration: none;
    color: #234CAD;
    display: flex;
}

.footer1 {
    text-align: left;
}