@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;1,6..12,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style:'Nunito Sans',cursive;
}

.navbar-brand{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F2F6FF;
}

.navbar-brand i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
    color: #234CAD;
}

ul .nav-item .nav-link{
    margin-right: 10px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;;
    font-size: 18px;
    color: #234CAD;
}

.btn0,.btn1{
    width: 135px;
    height: 50px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
}

.btn0{
    outline: none;
    border: none;
    background-color: #F2F6FF;
    color: #234CAD;
    margin-left: 15px;
}

.btn1{
    border: 1px solid #234CAD;
    color: #234CAD;
    background-color: white;
}

#banner{
    margin-top: 20px;
    display: flex;
    width: 1200px;
    height: 611px;
    padding: 0px 50px 25px 0px;
    align-items: center;
    flex-shrink: 0;
    background-color: #F2F6FF;
    border-radius: 60px;
}
.row .col-md-4 {
    margin-left: 80px;
}

.row .col-md-4 h2,.row .col-md-4 p{
    color: #234CAD;
}
.row .col-md-4 h2{
    font-weight: 500;
    font-size: 48px;
}
.row .col-md-4 p{
    font-size: 16px;
    margin-bottom: 40px;
}
.btn2{
    display: flex;
    width: 200px;
    height: 65px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 3px solid #234CAD;
    color: #234CAD;
    font-weight: 500;
    border-radius: 50px;
    background-color: #F2F6FF;
    font-size: 22px;
}