@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;1,6..12,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style:'Nunito Sans',cursive;
}

.navbar-brand{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F2F6FF;
}

.navbar-brand i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
    color: #234CAD;
}

ul .nav-item .nav-link{
    margin-right: 10px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;;
    font-size: 18px;
    color: #234CAD;
}


.btn0{
    width: 135px;
    height: 50px;
    flex-shrink: 0;
    outline: none;
    border: none;
    background-color: #F2F6FF;
    color: #234CAD;
    font-weight: 500;
    border-radius: 25px;
    font-size: 18px;
    margin-left: 15px;
}

.btn1{
    width: 135px;
    height: 50px;
    flex-shrink: 0; 
    border: 1px solid #234CAD;
    color: #234CAD;
    font-weight: 500;
    border-radius: 25px;
    font-size: 18px;
    background-color: white;
}
